.main-header {
    background-color: $header-bg;
    color: $header-text;
    height: 70px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 2rem;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between; // Logo a un lado, resto al otro
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px; // Espacio entre el menú "Carreras" y el botón de Login/Perfil

    .header-nav {
        a {
            color: rgba($header-text, 0.8);
            text-decoration: none;
            font-weight: 600;
            font-size: 0.95rem;
            transition: all 0.3s ease;

            &:hover, &.active {
                color: $primary-green;
            }

            &.active {
                font-weight: 700;
                padding-bottom: 4px;
            }
        }
    }

    .btn-login-header {
        text-decoration: none;
        color: $header-text;
        border: 1px solid rgba(255,255,255,0.3);
        padding: 8px 20px;
        border-radius: 5px;
        font-size: 0.9rem;
        transition: all 0.3s ease;

        &:hover {
            background: $primary-green;
            color: $header-text;
            border-color: $white;
        }
    }

    .btn-user {
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        
        i { 
            color: $primary-green; 
            font-size: 1.3rem;
        }
    }
}

.header-left {
    transition: transform 0.3s ease;
    display: inline-block;

    &:hover {
        // Aumenta un 5% el tamaño
        transform: scale(1.05);
    }

    .logo a {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 800;
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;

        i {
            font-size: 1.8rem;
            color: $header-text; 

        }
        
    }
}