// Color principal
$primary-green: #2d5a27;
$white: #ffffff;

// Definición de temas
:root {
    // Tema Claro
    color-scheme: light;
    --bg-body: #f4f4f4;
    --bg-card: #ffffff;
    --text-main: #1a1a1a; 
    --header-bg: #131313;  
    --header-text: #ffffff; 
    --border-color: #dddddd;
    --text-sec: #333;
    --footer-bg: #f1f1f1;
    --hero-text: #f4f4f4;
}

[data-theme="dark"] {
    // Tema Oscuro
    color-scheme: dark;
    --bg-body: #171717;  
    --bg-card: #1e1e1e;      
    --text-main: #f4f4f4;    
    --header-bg: #131313;    
    --header-text: #ffffff;
    --border-color: #333333;
    --text-sec: #888;
    --footer-bg: #131313;
    --hero-text: #888;
}

// Colores para alertas
$notify-color: #2d5a27;
$error-color: #c53030;

// Animaciones
$transition: all 0.3s ease;

// Fuente
$font-main: 'Inter', sans-serif;

// Reset
* {
    // Aplicamos el border box para que sea mas sencillo calcular el tamaño. 
    box-sizing: border-box; // El ancho y alto de cada elemento incluye padding y margin
    font-family: $font-main;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-body);
    overflow-x: hidden;
}


